/* Moodle 2.x Forum Block styles */
.block_forum_block .forum_title {
    text-align:center;
    font-weight:bold;
    margin-top:10px;
    margin-bottom:5px;
}
.block_forum_block .post {
    text-align:center;
}
.block_forum_block .post div.head {
    font-size:10px;
    font-style:italic;
}
.block_forum_block .no_posts {
    text-align:center;
    font-style:italic;
    font-size:10px;
}
.block_forum_block .forums td {
    padding:5px;
}
.block_forum_block .forums .header {
    font-weight:bold;
}